body {
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #333;
}

body *::selection {
  background: #1abc9c;
  color: #fff;
}

.container {
  max-width: 730px;
}

.top-strip {
  background-color: #000;
  height: 0.25em;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1,h2,h3 {
  color: #1a1a1a;
  font-weight: 300;
}

h1 {
  font-size: 2.1em;
  margin: 0 0 10px;
  font-size: 30px;
  line-height: 35px;
}

h2 {
  margin: 0 0 10px;
  font-size: 25px;
  line-height: 30px;
}

/*h3 {
  margin: 0;
  font-size: 20px;
  line-height: 25px;
}*/

.page-header {
  margin-top: 20px;
  border: none;
}

.page-header h1 {
  font-size: 2.6em;
  line-height: 1.3em;
  font-weight: 300;
  color: #1a1a1a;
}

.page-header a {
  border: none;
}

#name-block {
  border-bottom: 1px solid #3498db;
  padding-bottom: 18px;
}

#name-block a {
  color: #333;
}

ul.nav-bar {
  padding-left: 0;
}

ul.nav-bar li {
  display: inline;
  list-style: none;
  padding-right: 10px;
  font-size: 0.9em;
}

.nav-bar a {
  color: #333;
}

.nav-bar a:hover {
  color: #555;
}


.page-content .entries {
  list-style: none;
  padding: 0;
}

.page-content .entries li {
  margin-bottom: 1.4em;
  display: block;
  padding-right: 0;
}

.page-content .entries li a {
  color: #333;
}

.page-content .entries span.date {
  float: right;
  color: #91a3b0;
  font-size: 0.8em;
  line-height: 2em;
  text-transform: uppercase;
}

.page-content .entries .title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 300;
}

@media (max-width: 640px) {
  .entries span.date {
    display: none;
  }
  .page-content .entries .title {
    font-size: 1.1em;
  }
}

@media (max-width: 1000px) {
  .container ul.nav-bar li {
    font-size: 0.71em;
  }

  .container {
    max-width: 97%;
  }
}

.post-content div {
  line-height: 1.7em;
  margin-bottom: 1em;
  color: #333;
}

.post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 400;
}

.post h1 {
  font-size: 1.8em;
  line-height: 1.3em;
  font-weight: 300;
  color: #1a1a1a;
}

.post h2.excerpt {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.5em;
  color: #808080;
  margin-top: 0em;
  margin-bottom: 1em;
}

.post section {
  line-height: 26px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.post section h1 {
  font-size: 1.8em;
  line-height: 1.5em;
  font-weight: 300;
  color: #1a1a1a;
}

.post section h2 {
  font-size: 1.4em;
  line-height: 1.1;
  margin-left: -25px;
  border-left: 5px solid #EEE;
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.post section h3 {
  font-size: 1.2em;
}

.post section p {
  font-size: 16px;
  margin: 1em 0;
  text-align: left;
}

.post .when {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  color: #555;
  font-size: 12px;
}

.share {
  text-align: center;
  margin-top: 1.5em;
}

img {
  max-width: 100%;
}

p {
  text-align: justify;
}

.post section a {
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  color: inherit;
}

p.lead.authors a {
  border-bottom: none;
}

a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

.thumb {
  margin: 20px 0;
  border: 1px solid #808080;
}

.post section pre {
  line-height: 20px;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 0;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  margin: 30px 0;
}

/*pre {
  color: #333;
  font-size: 12px;
  line-height: 17px;
}*/

.post section h2.pubt, .post section h2.talkt {
  font-size: 1.2em;
  line-height: 1.2em;
  border: none;
  padding-left: 0;
  margin-left: 0;
}

.post section h2.talkt {
  margin-bottom: 10px;
}
.post section p.talkd {
  margin: 5px 0 0 0;
  color: #808080 !important;
  line-height: 22px; }
.post section p.pubd {
  margin: 5px 0 0 0;
  color: #808080 !important;
  line-height: 22px; }
.post section p.pubd a {
  color: #1496BB;
  border-bottom: 1px solid #ccc; }
.post section p.pubd a:hover {
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  color: #107896;
  text-decoration: none; }
span.authors {
  color: #808080;
  margin: 5px 0; }

span.conf {
  color: #9A2617;
  font-weight: 500; }

#vimeo-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

#vimeo-embed iframe,
#vimeo-embed object,
#vimeo-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/

code, pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 12px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

pre.prettyprint {
  margin-bottom: 20px;
}

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

.highlight  { text-align: left; background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
