/*

Contents
================================

1. Shared Styles
	a. Fonts
    b. Extends
2. Header Section
3. Entries
    a. Pagination
    b. Post Style
4. Footer
================================

*/


// 1. Shared Styles
// --------------------------------------------------

body{
    background-color: white;
    *::selection {
      background: #1abc9c;
      color: white;
    }
}

main.container, main.content > .container{
    width:50em;
}

// 1. a Font
// --------------------------------------------------


@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: normal;
  src: url('../../font/avenirltstd-light-webfont.eot');
  src: local('☺'), url('../../font/avenirltstd-light-webfont.woff') format('woff'), url('../../font/avenirltstd-light-webfont.ttf') format('truetype'), url('../../font/avenirltstd-light-webfont.svg#webfontS2cE5GsC') format('svg')
}


// 1. b Extends
// --------------------------------------------------


.center-txt{
    text-align: center;
}


.a-hover{
    color: black;
    &:hover{
        @include transition(0.1s linear);
        color: $grayCharcoal;
        text-decoration:none;
    }    
}

// 2. Header Section
// --------------------------------------------------

.content{
    background-color: $white;

    & > .container{
       min-height: 58em;  
    }
}

.header-pic {
  margin: auto;
  display: block;
  top: -110px;
  left: 50%;
  width: 95px;
  height: 95px;
  border-radius: 100%;
  overflow: hidden;
  border: 3px solid white;
  z-index: 400;
  background-color: white;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.header-pic > img {
  width: 100%;
  height: auto;
  border-radius: 100%;
}

section:first-child {
    border-bottom: 1px solid $grayDarker;
    margin-bottom: 3em;
}

.content ul {
    margin-top: 2em;
    font-family: 'Avenir';
    @extend .center-txt;
    li {
        display: inline;
        list-style: none;
        padding-right: 10px;
        a {
            @extend .a-hover;
        }
    }
}

.content #name{
    color: $grayLighter;
    font-family: 'Avenir', Helvetica;
    font-weight: normal;
     @extend .center-txt;
    font-size: 2em;  
    margin-top: 1em;
    margin-bottom: 0.5em;
    a {
        @extend .a-hover;
    }
}

.top-strip{
    background-color: $black;
    height: 1em;    
}


// 3. Entries
// --------------------------------------------------

.entries{
     //@extend .center-txt;
    list-style: none;
    font-family: 'Avenir';
    margin:2em 0 0;

    li{
        //border-bottom: 1px solid $grayLighter;
        margin-bottom: 3em;
        padding-top: 1.5em;
    }

    span{
        font-family: 'Avenir';
        text-transform: uppercase;
    }

    h3{
        font-family: 'Avenir';
        font-size: 2em;
        @extend .a-hover;
    }

    a{
        @extend .a-hover;
    }

    div{
        line-height: 1.7em;
        margin-bottom: 3em;
    }
}


// 3. a Pagination
// --------------------------------------------------

.pages{
     @extend .center-txt;
    list-style: none;    
}

.next{
    float: right;
    margin-top: -2em;
}

.prev{
    float: left;   
}

#post-pagination{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 3em;
}

// 3. b Post Style
// --------------------------------------------------

.post{
    h2{
        @extend .center-txt;
        font-family: 'Avenir';
        text-transform: uppercase;
        font-weight: normal;
        color: $grayCadet;
        font-size: 1em;
    }

    h1{
        font-family: 'Avenir';
        @extend .center-txt;
        font-size: 3em;
        color: black;
    }

    section{
        font-family: 'Avenir';
        line-height: 32px;
        font-size: 1.4em;
        h1 {
            text-align: left;
            font-size: 1.5em;
        }
        p {
            margin: 2em 0;
            text-align: justify;
        }
        a {
            @extend .a-hover;
            border-bottom: 1px solid black;
        }
        img {
            width: 700px;
        }
    }

    div{
        @extend .center-txt;
        font-family: 'Avenir';
        line-height: 1.7em;
        margin-bottom: 3em;
        color: $grayCadet;
    }
}

// 4. Footer
// --------------------------------------------------

footer .container{
    @extend .center-txt;
    font-family: 'Avenir';
    color: $white;
    padding: 2em 0;
    font-size: 1em;
    a{
        color: $white;
        text-decoration: none;
    }    
}